<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>MERCHAIN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <div ng-app="merchainApp">
      <div class="main-div" ng-controller="mainController">
        <div class="logo-div"><img id="merc" ng-click="changeClass()" ng-model="left" ng-class="left" src="/assets/Merc-02.png">
          <img id="hain" ng-click="changeClass()" ng-model="right" ng-class="right" src="/assets/Hain-03.png"></div>
          <form id="form-tag-id" ng-show="showme" class="form-tag animated fadeIn" novalidate>
            <p class="text-form">I want to send
            <span class="green-color">{</span><input placeholder="10000" class="input-amount" type="text" data-ng-model="query.inputAmount">}
            <span class="green-color">{</span><select data-ng-options="o.name for o in options" data-ng-model="query.selectedCurrency"></select>}
            to
            <span class="green-color">{</span><select data-ng-options="o.name for o in options" data-ng-model="query.selectedOutputCurrency"></select>}
            <br><br><img class="send-icon" ng-click="onSubmit()" src="/assets/send icon.png"></p>
          </form>
      <table class="tftable" border="1">
      <tr><th>Merchant 1</th><th>Rate</th><th>Merchant 2</th><th>Rate</th><th>Amount</th></tr>
      <tr data-ng-repeat="merchain in merchains"><td>{{merchain.startMerchant.name}}</td><td>{{merchain.startMerchant.rate}}</td><td>{{merchain.endMerchant.name}}</td><td>{{merchain.endMerchant.rate}}</td><td>{{merchain.convertedAmt}}</td></tr>
      </table>
        <div >
          <p></p>
        </div>

      </div>
    </div>

</body>
</html>
