body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-div{
	width: 100%;
	height: 100%;
}
.logo-div{
	margin: auto;
	cursor: pointer;
	text-align: center;
    margin-top: 100px;
}

#merc {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
  margin-right: 4px;
}

#hain {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
  margin-left: 4px;
}
.input-amount{
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 35px;
    color: #9b9b9b;
    width: 100px;
}
.form-tag{
    width: 50%;
    margin: auto;
    margin-top: -110px;
}
#form-tag-id{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
  -webkit-animation-iteration-count: 1;
}
.green-color{
  color: #56B14C;
}
.send-icon{
  margin-left: 45%;
  cursor: pointer;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
select:active,
select:focus
{
    outline:0px !important;
    -webkit-appearance:none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    font-size: 35px;
    color: #9b9b9b;
    background-color: transparent;
    border: none;
}
.text-form{
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	font-weight: 300;
}
.table{border: none; }
.tftable {font-size:12px;color:#333333;width:50%; margin: auto; margin-top: 40px; border: none;}
.tftable th {font-size:12px;background-color:#56B948;border-width: 1px;padding: 8px;border: none;text-align:left; color: white; text-align: center;}
.tftable tr {background-color: white;}
.tftable td {font-size:12px;border: none; padding: 8px; text-align: center;}
.tftable tr:hover {border-bottom:3px; border-bottom-color: #56B14C; border-bottom-width: 4px;}
a{
    text-decoration: none;
    color:#56B14C;
}
.portrait{
    width: 50px;
    float: left;
}
.welcome{
    width: 300px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 17px;
    padding-left: 10px;
}
.wallet-address{
    width: 500px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 17px;
}
.wallet-link{
    width: 200px;
    float: left;
    margin-top: 15px;
}
.login{
    color: #56B14C;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-left: 1000px;
}
.login:hover{
    text-decoration: none;
}
.see-more{
    color: #56B14C;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}
.logout{
    color: #56B14C;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
    float: left;

}
.portrait img{
    border-radius: 50%;
}